{% ckan_extends %}

{% block header_account_logged %}
    {% if c.userobj.sysadmin %}
        {% set new_users_count = h.new_users_get_new_users_count() %}
        <li class="notifications {% if new_users_count > 0 %}notifications-important{% endif %}">
            {% set new_users_tooltip = ngettext('%(num)d new user)', '%(num)d new users)', new_users_count) %}
            <a href="{{ h.url_for('new_users.new_users')}}" title="{{ new_users_tooltip }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="text">{{ _('New users') }}</span>
                <span class="badge">{{ new_users_count }}</span>
            </a>
        </li>
    {% endif %}

    {{ super() }}

{% endblock %}